<ion-header>
  <ion-toolbar>
    <ion-title>Öğretmen Ekle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>





  <form [formGroup]="teacherAddForm">
    <ion-item lines="full">
      <ion-label position="floating">Öğretmen Adı</ion-label>
      <ion-input type="text" required
      id="teacherName"
      formControlName="teacherName"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Eğitmen Branşı</ion-label>
      <ion-input type="text" required
      id="education"
      formControlName="education"></ion-input>
    </ion-item>
   
  </form>

  <ion-row>
    <ion-col>
      <ion-button (click)="addTeacher()">Öğretmen Ekle</ion-button>
    </ion-col>
  </ion-row>

</ion-content>

