<ion-header>
  <ion-toolbar>
    <ion-title>Detaylı Öğrenci Listesi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  



<ion-item *ngFor="let data of studentsOfDetail">
  <div slot="start" ></div>
  <ion-label class="ion-text-wrap">
    <h1>
      {{ data.courseName }}
      <span class="date">
        <ion-note>{{data.courseFinishDate | date: "dd/MM/yyyy"}}</ion-note>
        <ion-icon size="small"></ion-icon>
      </span>
      <span class="date">
        <ion-note>{{data.courseStartDate | date: "dd/MM/yyyy"}}</ion-note>
        <ion-icon size="small"></ion-icon>
      </span>
    </h1>
    <h2>{{ data.teacherName }}</h2>
    <p>
     Öğrenci:{{data.studentName}} 
    </p>
    <p>
      Email: {{data.studentEmail}}
     </p>
  </ion-label>
  </ion-item>
  
</ion-content>
